t2sn-logger
[{"id":"47ce1940.4947f8","type":"debug","z":"fbd1a759.5f8868","name":"","active":true,"console":"false","complete":"false","x":615.5,"y":201,"wires":[]},{"id":"97d47c6c.acafa","type":"switch","z":"fbd1a759.5f8868","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"user","vt":"msg"},{"t":"else"}],"checkall":"false","outputs":2,"x":219.5,"y":339,"wires":[["8900d07f.6c406"],["56eda8b0.8ed058"]]},{"id":"3255305.9153ad","type":"file","z":"fbd1a759.5f8868","name":"","filename":"/home/user/filelocation/twitter.users","appendNewline":true,"createDir":true,"overwriteFile":"false","x":751.5,"y":286,"wires":[]},{"id":"52ebd3f3.dbd26c","type":"twitter in","z":"fbd1a759.5f8868","twitter":"","tags":"what,to listen for, keywords","user":"false","name":"","topic":"tweets","inputs":0,"x":118.5,"y":20,"wires":[["e4b3521b.ddb71"]]},{"id":"e4b3521b.ddb71","type":"function","z":"fbd1a759.5f8868","name":"usrname","func":"msg.user = msg.tweet.user.screen_name;\nmsg.payload = msg.user;\nreturn msg;","outputs":1,"noerr":0,"x":115.5,"y":168,"wires":[["fc7a4370.8a25d"]]},{"id":"fc7a4370.8a25d","type":"delay","z":"fbd1a759.5f8868","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":136.5,"y":198,"wires":[["a04b8e19.74ba"]]},{"id":"a04b8e19.74ba","type":"file in","z":"fbd1a759.5f8868","name":"","filename":"/home/user/filelocation/twitter.users","format":"utf8","chunk":false,"sendError":false,"x":221.5,"y":235,"wires":[["97d47c6c.acafa"]]},{"id":"56eda8b0.8ed058","type":"function","z":"fbd1a759.5f8868","name":"","func":"msg.payload = msg.user;\nreturn msg;","outputs":1,"noerr":0,"x":390.5,"y":402,"wires":[["3255305.9153ad","7410fa40.c00474"]]},{"id":"8900d07f.6c406","type":"function","z":"fbd1a759.5f8868","name":"duplicate name report","func":"msg.payload= \"DUPE: \" + msg.user;\nreturn msg;","outputs":1,"noerr":0,"x":378.5,"y":306,"wires":[["47ce1940.4947f8"]]},{"id":"7410fa40.c00474","type":"function","z":"fbd1a759.5f8868","name":"","func":"msg.payload = \"Added \" + msg.user + \" to list.\"\nreturn msg;","outputs":1,"noerr":0,"x":457.5,"y":342,"wires":[["47ce1940.4947f8"]]}]
